.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );

  &__top {
    text-align: center;
    margin-bottom: 50px;
    h2 {
      color: rgb(218, 218, 218);
      font-size: 28px;
      margin-bottom: 5px;
    }
    p {
      color: rgb(168, 168, 168);
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.1px;
      opacity: 0.5;
    }
  }

  &__register-link {
    text-align: center;
    display: block;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #adadad;
    &:hover{
      color: #8c85d3;
    }
  }

  &__success-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400px;
    svg {
      width: 48px;
      height: 48px;
    }
    h2 {
      margin-top: 10px;
      color: #c9c9c9 !important;
    }
    p {
      color: #adadad !important;
    }
  }

  .button {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1px;
    width: 100%;
    border: none !important;
   background: #0f0c29; /* fallback for old browsers */
   background: linear-gradient(to left, #272446, #302b63, #24243e);
    transition: 500ms; 
    color: grey;
    &:hover {
      border: none !important;
      background: #0f0c29; /* fallback for old browsers */
      background: linear-gradient(to left, #272446, #302b63, #24243e);
      
    }
  }

  .block {
    width: 430px;
    background: rgba(0, 0, 0, 0.253);
    border-radius: 5px;
  }
}

.verify-block {
  &__loading {
    text-align: center;
  }
}
.ant-input {
  font-family: Arial;
  font-size: 13px !important;
}