.status {
  display: inline-block;
  color: #f7e9e9;
  position: relative;
  font-size: 13px;
  &-go-back-arrow {
    position: absolute;
    left: 15px;
    top: 22px;
  }
  &::before {
    display: block;
    position: absolute;
    top: 5px;
    left: -11px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #d3d3d3;
  }

  &--online {
    margin-left: 12px;

    &::before {
      background-color: #00c980;
      box-shadow: 0 0 15px #00c97fa1;
    }
  }
  &--offline {
    font-weight: 600;
    font-size: 13px;
    color: rgb(128, 128, 128);
  }
}
.ant-btn-link {
  span {
    background: rgba(255, 255, 255, 0.568);
  }
}
