.messages {
  height: 120%;
  padding: 60px 20px 60px 20px;
  overflow: auto;
  background: rgba(255, 255, 255, 0);
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &::-webkit-scrollbar-track
    {
      background-color:rgba(255, 255, 255, 0);
    }

    &::-webkit-scrollbar
    {
      background-color:rgba(255, 255, 255, 0);
      width:8px
    }

    &::-webkit-scrollbar-thumb
    {
      background-color:#babac0;
      border-radius:16px;
      padding: 5px;
      &:hover {
        background-color:#a0a0a5;
      }
      
    }
    

}
