.chat {
  display: flex;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.123);
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
  &__dialog-input {
    transition: height 400ms;
  }
  &__info-message {
    color: rgba(255, 255, 255, 0.767);
  }
  &__sidebar {
    width: 320px;
    border-right: 1px solid #3838382a;

    &-header {
      display: flex;
      justify-content: space-between;
      padding: 21px;
      height: 58px;
      border-bottom: 1px solid #35353544;
      margin-bottom: 20px;
      align-items: center;

      .ant-btn-circle {
        position: relative;
        left: 5px;
      }

      & > div {
        i {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }

    &-dialogs {
      height: calc(100% - 136px);

      .dialogs {
        height: 100%;
        overflow: auto;
        background: rgba(0, 0, 0, 0);
        &__item {
          padding: 10px 20px;
          margin-bottom: 0;
          cursor: pointer;
        }
      }
    }
  }

  &__dialog {
    flex: 1;
    position: relative;

    .ant-empty {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;

      .ant-btn-circle {
        i {
          font-size: 22px;
        }
      }

      &-center {
        text-align: center;
      }

      &-action {
        position: absolute;
        right: 20px;
        top: 12px;
        transform: rotate(90deg);
      }

      &-username {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
        color: rgb(255, 255, 255);
      }
      
    }
  }
}

.ant-upload-list-item {
  border: none !important;
  background: rgba(255, 255, 255, 0.1) !important;
  font-size: 12px;
  color: rgb(255, 255, 255) !important;
}
.ant-popover-inner {
  background: rgba(255, 255, 255, 0.075) !important;
}
.ant-popover-arrow {
  border-color:rgba(255, 255, 255, 0.075) !important ;
}
.ant-empty-description {
  color: rgb(187, 187, 187);
}

.ant-result-title {
  color: rgb(240, 240, 240);
}
.ant-result-subtitle {
  color: rgba(240, 240, 240, 0.288);
}
.success-verification {
  background-color: rgba(104,190,34,1);
  border: none !important;
  &:hover{
    background-color: rgb(75, 138, 24);

  }
  
}
